@font-face {
  font-family: "Poppins";
  src: url("../font/poppins.woff2") format("woff2");
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

@layer components {
  .card-wrapper {
    @apply cursor-grab w-full max-w-[1000px] grid grid-flow-col gap-7 overflow-hidden md:flex md:flex-wrap md:overflow-auto md:justify-center md:cursor-default p-4;
  }

  .card-wrapper.dragging {
    @apply cursor-grabbing md:cursor-default;
  }

  .card-base {
    @apply w-[230px] h-[230px] bg-white shadow-md flex flex-col self-center justify-center select-none;
  }

  .button-offers-detail {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mb-7 rounded-full z-2 self-center cursor-pointer transition-colors;
  }

  .paragraph-about {
    @apply text-justify text-lg pl-5 pr-5;
  }
}

.navbar-hamburger-line:first-child.active {
  transform: rotate(45deg);
  top: 43%;
}

.navbar-hamburger-line:nth-child(2).active {
  opacity: 0;
}

.navbar-hamburger-line:last-child.active {
  transform: rotate(-45deg);
  top: 43%;
}
