@font-face {
  font-family: "Poppins";
  src: url("../font/poppins.woff2") format("woff2");
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

.navbar-hamburger-line:first-child.active {
  transform: rotate(45deg);
  top: 43%;
}

.navbar-hamburger-line:nth-child(2).active {
  opacity: 0;
}

.navbar-hamburger-line:last-child.active {
  transform: rotate(-45deg);
  top: 43%;
}
